body{
    background-color: black;
    color: white;
}

section{
    background-color: rgb(85, 50, 5);
    padding-top: 120px;
    padding-bottom: 450px;
    display: flex;
    justify-content: center;
}
header{
    margin: 40px;
}