body{
    background-color: black;
    color: white;
}

section{
    background-color: rgb(85, 50, 5);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}